.intro_container {
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.intro {
  margin-right: 2rem;
}

.intro_title {
  margin-bottom: 3rem;
  font-size: 3.5rem;
}

.intro_content {
  margin-bottom: 3rem;
  padding: 0;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.intro_img {
  width: 22rem;
  height: auto;
}

.intro_button {
  padding: 1rem;
  font-size: 1.2rem;
  color: #f2f2f2;
  background-color: #000000;
  border: 0;
}

@media screen and (max-width: 48rem) {
  .intro_img {
    display: none;
  }

  .intro_title {
    font: 2.5rem;
  }
}
