.list_container {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: center;
  width: 90%;
  height: auto;
}

.book_card {
  margin-bottom: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.book_img {
  margin-bottom: 1rem;
  width: 150px;
  height: 200px;
}

.book_author {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: rgb(71, 71, 71);
}

.add_btn {
  padding: 0.6rem 1rem;
  color: rgb(71, 71, 71);
  background-color: #fff59d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 400ms ease;
}

.add_btn:hover {
  transform: scale(1.05);
  background-color: #fff176;
}
