.layout_container{
    display: grid;
    padding: 0;
    margin: 0;
    background-color: var(--back);
    width:100%;
    height:auto;
    grid-template-rows: auto;
    grid-template-columns: auto;
}
