.menu_item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 5rem;
  height: 100%;
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
}

.menu_item a:hover {
  color: #cbc26d;
}

.menu_item a {
  text-decoration: none;
  margin: auto;
  padding: 2rem 1rem;
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 48rem) {
  .menu_item {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    width: 20rem;
    padding:8px;
   
  }
  .menu_item a {
    margin:0.5rem auto;
    padding: 2rem 1rem;
    color: #000000;
    text-decoration: none;
  }
}
