.navbar {
  width: 50%;
}

.show_menu {
  width: 100%;
  display: flex;
  z-index: 900;
}

.hide_menu {
  display: none;
}

i {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  color: #000000;
}

@media screen and (min-width: 48rem) {
  .show_menu {
    flex-flow: row;
    right: 0;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}
