.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:auto;
    padding: 1rem;
}
@media(min-width:43rem){
    .container{
        flex-direction: row;
        width:100%;

    }
}